body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
.outer-container {
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-rows: 3fr 2fr;
}
header {
    text-align: center;
    height: 100px;
}
.arena {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.inner-arena {
    background-image: url('../assets/arena.png') ;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    color: white;
    padding: 15px 30px;
    font-family: 'Bangers', cursive;    
}
.inner-arena img {
    max-height: 100px;
}
.inner-arena h2 {
    font-size: 50px;
}
.inner-arena h3 {
    font-size: 30px;
}
.inner-arena h4 {
    font-size: 20px;
    margin-bottom: 40px;
}
.arena-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}